#div2{
 background: rebeccapurple;
 color: red;
 width: 3000px;
 height: 3000px;
}
/* li{
  width: 200px;
  height: 200px;
  background: red;

} */
 .aa{
    width: 200px;
  height: 200px;
  background: red; 
 }